.App {
  color: white;
  width: 100%;
  overflow: hidden;
}

.display {
  display: flex;
  background-color: rgb(95, 86, 86);
  
}

.text {
  height: 500px;
  width: 500px;
  padding: 50px;
}

.logo {
  height: 500px;
  width: 800px;
  overflow: hidden;
}

Grid::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
